:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

/* trying font stuff */
@use postcss-preset-env {
  stage: 0;
}

:root {
  --color-background: #000119;
  --stroke-width: calc(1em / 16);
  --font-size: 8cqw;
  --font-weight: 700;
  --letter-spacing: calc(1em / 8);
}

body {
  background-color: var(--color-background);
  display: grid;
  font-family: Poppins, sans-serif;
  margin: 0;
  min-block-size: 100vh;
  place-items: center;
  padding: 5vmin;
}

.app-name > h1 {
  background-clip: text;
  background-image: linear-gradient(to right, #09f1b8, #00a2ff, #ff00d2, #fed90f);
  color: var(--color-background);
  /* font-size: min(var(--font-size), 90pt); */
  font-size: var(--font-size);
  font-weight: var(--font-weight);
  letter-spacing: var(--letter-spacing);
  padding: calc(--stroke-width / 2);
  -webkit-text-stroke-color: transparent;
  -webkit-text-stroke-width: var(--stroke-width);
  margin: 0;
}

h4 {
  margin: 0;
}

.profile-pic {
  border-radius: 50%;
  width: 66px;
}

/* GRID STUFF */

.grid-container {
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  grid-template-rows: repeat(12, 1fr);
  height: 90vh;
  gap: 10px;
 }

.app-name-container {
  display: grid;
  grid-column: 3 / 11;
  grid-row: 2/3;
}

.app-name-container.small {
  grid-column: 1 / 6;
  grid-row: 1/3;
  display: flex;
}

.app-name-container h1 {
  font-size: var(--font-size);
  transition-property: font-size, grid-column;
  transition-duration: 1s;
}

.app-name-container.small h1 {
  font-size: calc(var(--font-size)/3);
}

.spotify {
  height: 30px;
  vertical-align: middle;
  margin-bottom: 2.5px;
}

.app-tagline {
  margin-top: -2cqw;
}

.small .app-tagline {
  margin-top: 5.5cqh;
  margin-left: .25em;
}

.profile-header {
  display: flex;
  grid-column: 11/12;
  grid-row: 1/2;
  font-weight: bold;
  align-self: flex-end;
  justify-self:last baseline;
}

.profile-pic {
  display: grid;
  grid-column: 12/13;
  grid-row: 1/2;
}

.logout-butt {
  display: grid;
  grid-column: 12/13;
  grid-row: 1/2;
}

.dropdown {
  text-align: left;
  grid-row: 2/3;
  grid-column: 11/13;
}

.dropdown > button {
  width: 100%;
}

.search {
  display: inline;
  grid-column: 4 / 9;
  grid-row: 3/4;
  margin-top: 20px;
}

.search-options {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-row: 1fr 1fr;
  grid-column: 4/9;
  grid-row: 5/6;
  justify-items: center;
  align-items: center;
  gap: 2px;
}

.chosen-genres {
  display: grid;
  grid-column: 9/13;
  grid-row: 3/6;
}

.generate-button {
  display: grid;
  grid-column: 6/8;
  grid-row: 3/4;
  margin-top: 20px;
}

.circle-pic {
  border-radius: 50%;
  width: 66px;
}

.login {
grid-column: 6/8;
  grid-row: 3/4;
  margin-top: 20px;
  
}